{% extends 'base.html.twig' %}

{% block title %}ArticleInStock index{% endblock %}

{% block body %}

    {{ component('articleInStockIndex', { article_in_stocks: article_in_stocks, article: article }) }}

    <a href="{{ path('app_article_in_stock_new', {'article' : article.id}) }}">Create new</a>

{% endblock %}
