{% extends 'base.html.twig' %}

{% block title %}New ArticleInStock{% endblock %}

{% block body %}
    <h1>Create new ArticleInStock</h1>

    {{ include('article_in_stock/_form.html.twig') }}

    <a href="{{ path('app_article_in_stock_index', {'articleId': articleId }) }}">back to list</a>
{% endblock %}
