{% extends 'article/show.html.twig' %}

{% block title %}New ArticleInStock{% endblock %}

{% block dashboardBody %}

    {{ component('showArticle', {article: article}) }}
    
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Create new ArticleInStock</h5>
        </div>
        <div class="card-body">
            {{ include('article_in_stock/_form.html.twig') }}
        </div>
    </div>

    <a href="{{ path('app_article_in_stock_index', {'article': article.id }) }}">back to list</a>

{% endblock %}
