{% extends 'dashboard/index.html.twig' %}

{% block title %}{{parent() }} - Warehouse{% endblock %}

{% block dashboardBody %}
    <h1>Create new Warehouse</h1>

    {{ include('warehouse/_form.html.twig') }}

    <a href="{{ path('app_warehouse_index') }}">back to list</a>
{% endblock %}
