{% for message in app.flashes('success') %}
    <div class="alert alert-success text-small">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('warning') %}
    <div class="alert alert-warning text-small">
        {{ message }}
    </div>
{% endfor %}