<header>
    <div class="container">
        <div class="my-2">
            <h1 class="lead mb-0">Header: Windows |</h1>
        </div>
    
        {{ component('nav') }}

        <hr></hr>
    </div>
</header>