{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Dashboard{% endblock %}

{% block body %}

    <h2 class='display-6'>Dashboard</h2>

    <div class="my-2">
        {% if is_granted('ROLE_ADMIN') %}
            {{ component('adminDashboardNavComponent') }}
        {% elseif is_granted('ROLE_USER') %}
            {{ component('userDashboardNavComponent') }}
        {% endif %}
    </div>

    {{ component('flashMessages') }}

    <div class="card">
        <div class="card-body">
            {% block dashboardBody %}{% endblock %}
        </div>
    </div>

</div>

{% endblock %}
